In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

#  Load data

In [2]:
df_train = pd.read_csv('training_variants')

In [3]:
df_train.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [4]:
df_test = pd.read_csv('test_variants')

In [5]:
df_test.head()

   ID     Gene Variation
0   0    ACSL4     R570S
1   1    NAGLU     P521L
2   2      PAH     L333F
3   3     ING1     A148D
4   4  TMEM216      G77A

In [6]:
df_train_text = pd.read_csv('training_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])

In [7]:
df_train_text.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [8]:
df_test_text = pd.read_csv('test_text', sep="\|\|", engine='python', header=None, skiprows=1, names=["ID","Text"])

In [9]:
df_test_text.head()

   ID                                               Text
0   0  2. This mutation resulted in a myeloproliferat...
1   1   Abstract The Large Tumor Suppressor 1 (LATS1)...
2   2  Vascular endothelial growth factor receptor (V...
3   3  Inflammatory myofibroblastic tumor (IMT) is a ...
4   4   Abstract Retinoblastoma is a pediatric retina...

In [10]:
df_submission = pd.read_csv('submissionFile')

In [11]:
df_submission.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   0       0       0       0       0       0       1       0       0       0
1   1       0       1       0       0       0       0       0       0       0
2   2       0       0       0       0       0       1       0       0       0
3   3       0       0       0       0       0       0       0       1       0
4   4       0       0       0       1       0       0       0       0       0

#  Examine data shape

In [12]:
df_train.shape

(3321, 4)

In [13]:
df_test.shape

(5668, 3)

In [14]:
df_train_text.shape

(3321, 2)

In [15]:
df_test_text.shape

(5668, 2)

In [16]:
df_train_text.iloc[0].Text

"Cyclin-dependent kinases (CDKs) regulate a variety of fundamental cellular processes. CDK10 stands out as one of the last orphan CDKs for which no activating cyclin has been identified and no kinase activity revealed. Previous work has shown that CDK10 silencing increases ETS2 (v-ets erythroblastosis virus E26 oncogene homolog 2)-driven activation of the MAPK pathway, which confers tamoxifen resistance to breast cancer cells. The precise mechanisms by which CDK10 modulates ETS2 activity, and more generally the functions of CDK10, remain elusive. Here we demonstrate that CDK10 is a cyclin-dependent kinase by identifying cyclin M as an activating cyclin. Cyclin M, an orphan cyclin, is the product of FAM58A, whose mutations cause STAR syndrome, a human developmental anomaly whose features include toe syndactyly, telecanthus, and anogenital and renal malformations. We show that STAR syndrome-associated cyclin M mutants are unable to interact with CDK10. Cyclin M silencing phenocopies CDK10 silencing in increasing c-Raf and in conferring tamoxifen resistance to breast cancer cells. CDK10/cyclin M phosphorylates ETS2 in vitro, and in cells it positively controls ETS2 degradation by the proteasome. ETS2 protein levels are increased in cells derived from a STAR patient, and this increase is attributable to decreased cyclin M levels. Altogether, our results reveal an additional regulatory mechanism for ETS2, which plays key roles in cancer and development. They also shed light on the molecular mechanisms underlying STAR syndrome.Cyclin-dependent kinases (CDKs) play a pivotal role in the control of a number of fundamental cellular processes (1). The human genome contains 21 genes encoding proteins that can be considered as members of the CDK family owing to their sequence similarity with bona fide CDKs, those known to be activated by cyclins (2). Although discovered almost 20 y ago (3, 4), CDK10 remains one of the two CDKs without an identified cyclin partner. This knowledge gap has largely impeded the exploration of its biological functions. CDK10 can act as a positive cell cycle regulator in some cells (5, 6) or as a tumor suppressor in others (7, 8). CDK10 interacts with the ETS2 (v-ets erythroblastosis virus E26 oncogene homolog 2) transcription factor and inhibits its transcriptional activity through an unknown mechanism (9). CDK10 knockdown derepresses ETS2, which increases the expression of the c-Raf protein kinase, activates the MAPK pathway, and induces resistance of MCF7 cells to tamoxifen (6).Here, we deorphanize CDK10 by identifying cyclin M, the product of FAM58A, as a binding partner. Mutations in this gene that predict absence or truncation of cyclin M are associated with STAR syndrome, whose features include toe syndactyly, telecanthus, and anogenital and renal malformations in heterozygous females (10). However, both the functions of cyclin M and the pathogenesis of STAR syndrome remain unknown. We show that a recombinant CDK10/cyclin M heterodimer is an active protein kinase that phosphorylates ETS2 in vitro. Cyclin M silencing phenocopies CDK10 silencing in increasing c-Raf and phospho-ERK expression levels and in inducing tamoxifen resistance in estrogen receptor (ER)+ breast cancer cells. We show that CDK10/cyclin M positively controls ETS2 degradation by the proteasome, through the phosphorylation of two neighboring serines. Finally, we detect an increased ETS2 expression level in cells derived from a STAR patient, and we demonstrate that it is attributable to the decreased cyclin M expression level observed in these cells.Previous SectionNext SectionResultsA yeast two-hybrid (Y2H) screen unveiled an interaction signal between CDK10 and a mouse protein whose C-terminal half presents a strong sequence homology with the human FAM58A gene product [whose proposed name is cyclin M (11)]. We thus performed Y2H mating assays to determine whether human CDK10 interacts with human cyclin M (Fig. 1 A–C). The longest CDK10 isoform (P1) expressed as a bait protein produced a strong interaction phenotype with full-length cyclin M (expressed as a prey protein) but no detectable phenotype with cyclin D1, p21 (CIP1), and Cdi1 (KAP), which are known binding partners of other CDKs (Fig. 1B). CDK1 and CDK3 also produced Y2H signals with cyclin M, albeit notably weaker than that observed with CDK10 (Fig. 1B). An interaction phenotype was also observed between full-length cyclin M and CDK10 proteins expressed as bait and prey, respectively (Fig. S1A). We then tested different isoforms of CDK10 and cyclin M originating from alternative gene splicing, and two truncated cyclin M proteins corresponding to the hypothetical products of two mutated FAM58A genes found in STAR syndrome patients (10). None of these shorter isoforms produced interaction phenotypes (Fig. 1 A and C and Fig. S1A).Fig. 1.In a new window Download PPTFig. 1.CDK10 and cyclin M form an interaction complex. (A) Schematic representation of the different protein isoforms analyzed by Y2H assays. Amino acid numbers are indicated. Black boxes indicate internal deletions. The red box indicates a differing amino acid sequence compared with CDK10 P1. (B) Y2H assay between a set of CDK proteins expressed as baits (in fusion to the LexA DNA binding domain) and CDK interacting proteins expressed as preys (in fusion to the B42 transcriptional activator). pEG202 and pJG4-5 are the empty bait and prey plasmids expressing LexA and B42, respectively. lacZ was used as a reporter gene, and blue yeast are indicative of a Y2H interaction phenotype. (C) Y2H assay between the different CDK10 and cyclin M isoforms. The amino-terminal region of ETS2, known to interact with CDK10 (9), was also assayed. (D) Western blot analysis of Myc-CDK10 (wt or kd) and CycM-V5-6His expression levels in transfected HEK293 cells. (E) Western blot analysis of Myc-CDK10 (wt or kd) immunoprecipitates obtained using the anti-Myc antibody. “Inputs” correspond to 10 μg total lysates obtained from HEK293 cells coexpressing Myc-CDK10 (wt or kd) and CycM-V5-6His. (F) Western blot analysis of immunoprecipitates obtained using the anti-CDK10 antibody or a control goat antibody, from human breast cancer MCF7 cells. “Input” corresponds to 30 μg MCF7 total cell lysates. The lower band of the doublet observed on the upper panel comigrates with the exogenously expressed untagged CDK10 and thus corresponds to endogenous CDK10. The upper band of the doublet corresponds to a nonspecific signal, as demonstrated by it insensitivity to either overexpression of CDK10 (as seen on the left lane) or silencing of CDK10 (Fig. S2B). Another experiment with a longer gel migration is shown in Fig. S1D.Next we examined the ability of CDK10 and cyclin M to interact when expressed in human cells (Fig. 1 D and E). We tested wild-type CDK10 (wt) and a kinase dead (kd) mutant bearing a D181A amino acid substitution that abolishes ATP binding (12). We expressed cyclin M-V5-6His and/or Myc-CDK10 (wt or kd) in a human embryonic kidney cell line (HEK293). The expression level of cyclin M-V5-6His was significantly increased upon coexpression with Myc-CDK10 (wt or kd) and, to a lesser extent, that of Myc-CDK10 (wt or kd) was increased upon coexpression with cyclin M-V5-6His (Fig. 1D). We then immunoprecipitated Myc-CDK10 proteins and detected the presence of cyclin M in the CDK10 (wt) and (kd) immunoprecipitates only when these proteins were coexpressed pair-wise (Fig. 1E). We confirmed these observations by detecting the presence of Myc-CDK10 in cyclin M-V5-6His immunoprecipitates (Fig. S1B). These experiments confirmed the lack of robust interaction between the CDK10.P2 isoform and cyclin M (Fig. S1C). To detect the interaction between endogenous proteins, we performed immunoprecipitations on nontransfected MCF7 cells derived from a human breast cancer. CDK10 and cyclin M antibodies detected their cognate endogenous proteins by Western blotting. We readily detected cyclin M in immunoprecipitates obtained with the CDK10 antibody but not with a control antibody (Fig. 1F). These results confirm the physical interaction between CDK10 and cyclin M in human cells.To unveil a hypothesized CDK10/cyclin M protein kinase activity, we produced GST-CDK10 and StrepII-cyclin M fusion proteins in insect cells, either individually or in combination. We observed that GST-CDK10 and StrepII-cyclin M copurified, thus confirming their interaction in yet another cellular model (Fig. 2A). We then performed in vitro kinase assays with purified proteins, using histone H1 as a generic substrate. Histone H1 phosphorylation was detected only from lysates of cells coexpressing GST-CDK10 and StrepII-cyclin M. No phosphorylation was detected when GST-CDK10 or StrepII-cyclin M were expressed alone, or when StrepII-cyclin M was coexpressed with GST-CDK10(kd) (Fig. 2A). Next we investigated whether ETS2, which is known to interact with CDK10 (9) (Fig. 1C), is a phosphorylation substrate of CDK10/cyclin M. We detected strong phosphorylation of ETS2 by the GST-CDK10/StrepII-cyclin M purified heterodimer, whereas no phosphorylation was detected using GST-CDK10 alone or GST-CDK10(kd)/StrepII-cyclin M heterodimer (Fig. 2B).Fig. 2.In a new window Download PPTFig. 2.CDK10 is a cyclin M-dependent protein kinase. (A) In vitro protein kinase assay on histone H1. Lysates from insect cells expressing different proteins were purified on a glutathione Sepharose matrix to capture GST-CDK10(wt or kd) fusion proteins alone, or in complex with STR-CycM fusion protein. Purified protein expression levels were analyzed by Western blots (Top and Upper Middle). The kinase activity was determined by autoradiography of histone H1, whose added amounts were visualized by Coomassie staining (Lower Middle and Bottom). (B) Same as in A, using purified recombinant 6His-ETS2 as a substrate.CDK10 silencing has been shown to increase ETS2-driven c-RAF transcription and to activate the MAPK pathway (6). We investigated whether cyclin M is also involved in this regulatory pathway. To aim at a highly specific silencing, we used siRNA pools (mix of four different siRNAs) at low final concentration (10 nM). Both CDK10 and cyclin M siRNA pools silenced the expression of their cognate targets (Fig. 3 A and C and Fig. S2) and, interestingly, the cyclin M siRNA pool also caused a marked decrease in CDK10 protein level (Fig. 3A and Fig. S2B). These results, and those shown in Fig. 1D, suggest that cyclin M binding stabilizes CDK10. Cyclin M silencing induced an increase in c-Raf protein and mRNA levels (Fig. 3 B and C) and in phosphorylated ERK1 and ERK2 protein levels (Fig. S3B), similarly to CDK10 silencing. As expected from these effects (6), CDK10 and cyclin M silencing both decreased the sensitivity of ER+ MCF7 cells to tamoxifen, to a similar extent. The combined silencing of both genes did not result in a higher resistance to the drug (Fig. S3C). Altogether, these observations demonstrate a functional interaction between cyclin M and CDK10, which negatively controls ETS2.Fig. 3.In a new window Download PPTFig. 3.Cyclin M silencing up-regulates c-Raf expression. (A) Western blot analysis of endogenous CDK10 and cyclin M expression levels in MCF7 cells, in response to siRNA-mediated gene silencing. (B) Western blot analysis of endogenous c-Raf expression levels in MCF7 cells, in response to CDK10 or cyclin M silencing. A quantification is shown in Fig. S3A. (C) Quantitative RT-PCR analysis of CDK10, cyclin M, and c-Raf mRNA levels, in response to CDK10 (Upper) or cyclin M (Lower) silencing. **P ≤ 0.01; ***P ≤ 0.001.We then wished to explore the mechanism by which CDK10/cyclin M controls ETS2. ETS2 is a short-lived protein degraded by the proteasome (13). A straightforward hypothesis is that CDK10/cyclin M positively controls ETS2 degradation. We thus examined the impact of CDK10 or cyclin M silencing on ETS2 expression levels. The silencing of CDK10 and that of cyclin M caused an increase in the expression levels of an exogenously expressed Flag-ETS2 protein (Fig. S4A), as well as of the endogenous ETS2 protein (Fig. 4A). This increase is not attributable to increased ETS2 mRNA levels, which marginally fluctuated in response to CDK10 or cyclin M silencing (Fig. S4B). We then examined the expression levels of the Flag-tagged ETS2 protein when expressed alone or in combination with Myc-CDK10 or -CDK10(kd), with or without cyclin M-V5-6His. Flag-ETS2 was readily detected when expressed alone or, to a lesser extent, when coexpressed with CDK10(kd). However, its expression level was dramatically decreased when coexpressed with CDK10 alone, or with CDK10 and cyclin M (Fig. 4B). These observations suggest that endogenous cyclin M levels are in excess compared with those of CDK10 in MCF7 cells, and they show that the major decrease in ETS2 levels observed upon CDK10 coexpression involves CDK10 kinase activity. Treatment of cells coexpressing Flag-ETS2, CDK10, and cyclin M with the proteasome inhibitor MG132 largely rescued Flag-ETS2 expression levels (Fig. 4B).Fig. 4.In a new window Download PPTFig. 4.CDK10/cyclin M controls ETS2 stability in human cancer derived cells. (A) Western blot analysis of endogenous ETS2 expression levels in MCF7 cells, in response to siRNA-mediated CDK10 and/or cyclin M silencing. A quantification is shown in Fig. S4B. (B) Western blot analysis of exogenously expressed Flag-ETS2 protein levels in MCF7 cells cotransfected with empty vectors or coexpressing Myc-CDK10 (wt or kd), or Myc-CDK10/CycM-V5-6His. The latter cells were treated for 16 h with the MG132 proteasome inhibitor. Proper expression of CDK10 and cyclin M tagged proteins was verified by Western blot analysis. (C and D) Western blot analysis of expression levels of exogenously expressed Flag-ETS2 wild-type or mutant proteins in MCF7 cells, in the absence of (C) or in response to (D) Myc-CDK10/CycM-V5-6His expression. Quantifications are shown in Fig. S4 C and D.A mass spectrometry analysis of recombinant ETS2 phosphorylated by CDK10/cyclin M in vitro revealed the existence of multiple phosphorylated residues, among which are two neighboring phospho-serines (at positions 220 and 225) that may form a phosphodegron (14) (Figs. S5–S8). To confirm this finding, we compared the phosphorylation level of recombinant ETS2wt with that of ETS2SASA protein, a mutant bearing alanine substitutions of these two serines. As expected from the existence of multiple phosphorylation sites, we detected a small but reproducible, significant decrease of phosphorylation level of ETS2SASA compared with ETS2wt (Fig. S9), thus confirming that Ser220/Ser225 are phosphorylated by CDK10/cyclin M. To establish a direct link between ETS2 phosphorylation by CDK10/cyclin M and degradation, we examined the expression levels of Flag-ETS2SASA. In the absence of CDK10/cyclin M coexpression, it did not differ significantly from that of Flag-ETS2. This is contrary to that of Flag-ETS2DBM, bearing a deletion of the N-terminal destruction (D-) box that was previously shown to be involved in APC-Cdh1–mediated degradation of ETS2 (13) (Fig. 4C). However, contrary to Flag-ETS2 wild type, the expression level of Flag-ETS2SASA remained insensitive to CDK10/cyclin M coexpression (Fig. 4D). Altogether, these results suggest that CDK10/cyclin M directly controls ETS2 degradation through the phosphorylation of these two serines.Finally, we studied a lymphoblastoid cell line derived from a patient with STAR syndrome, bearing FAM58A mutation c.555+1G>A, predicted to result in aberrant splicing (10). In accordance with incomplete skewing of X chromosome inactivation previously found in this patient, we detected a decreased expression level of cyclin M protein in the STAR cell line, compared with a control lymphoblastoid cell line. In line with our preceding observations, we detected an increased expression level of ETS2 protein in the STAR cell line compared with the control (Fig. 5A and Fig. S10A). We then examined by quantitative RT-PCR the mRNA expression levels of the corresponding genes. The STAR cell line showed a decreased expression level of cyclin M mRNA but an expression level of ETS2 mRNA similar to that of the control cell line (Fig. 5B). To demonstrate that the increase in ETS2 protein expression is indeed a result of the decreased cyclin M expression observed in the STAR patient-derived cell line, we expressed cyclin M-V5-6His in this cell line. This expression caused a decrease in ETS2 protein levels (Fig. 5C).Fig. 5.In a new window Download PPTFig. 5.Decreased cyclin M expression in STAR patient-derived cells results in increased ETS2 protein level. (A) Western blot analysis of cyclin M and ETS2 protein levels in a STAR patient-derived lymphoblastoid cell line and in a control lymphoblastoid cell line, derived from a healthy individual. A quantification is shown in Fig. S10A. (B) Quantitative RT-PCR analysis of cyclin M and ETS2 mRNA levels in the same cells. ***P ≤ 0.001. (C) Western blot analysis of ETS2 protein levels in the STAR patient-derived lymphoblastoid cell line transfected with an empty vector or a vector directing the expression of cyclin M-V5-6His. Another Western blot revealing endogenously and exogenously expressed cyclin M levels is shown in Fig. S10B. A quantification of ETS2 protein levels is shown in Fig. S10C.Previous SectionNext SectionDiscussionIn this work, we unveil the interaction between CDK10, the last orphan CDK discovered in the pregenomic era (2), and cyclin M, the only cyclin associated with a human genetic disease so far, and whose functions remain unknown (10). The closest paralogs of CDK10 within the CDK family are the CDK11 proteins, which interact with L-type cyclins (15). Interestingly, the closest paralog of these cyclins within the cyclin family is cyclin M (Fig. S11). The fact that none of the shorter CDK10 isoforms interact robustly with cyclin M suggests that alternative splicing of the CDK10 gene (16, 17) plays an important role in regulating CDK10 functions.The functional relevance of the interaction between CDK10 and cyclin M is supported by different observations. Both proteins seem to enhance each other’s stability, as judged from their increased expression levels when their partner is exogenously coexpressed (Fig. 1D) and from the much reduced endogenous CDK10 expression level observed in response to cyclin M silencing (Fig. 3A and Fig. S2B). CDK10 is subject to ubiquitin-mediated degradation (18). Our observations suggest that cyclin M protects CDK10 from such degradation and that it is the only cyclin partner of CDK10, at least in MCF7 cells. They also suggest that cyclin M stability is enhanced upon binding to CDK10, independently from its kinase activity, as seen for cyclin C and CDK8 (19). We uncover a cyclin M-dependent CDK10 protein kinase activity in vitro, thus demonstrating that this protein, which was named a CDK on the sole basis of its amino acid sequence, is indeed a genuine cyclin-dependent kinase. Our Y2H assays reveal that truncated cyclin M proteins corresponding to the hypothetical products of two STAR syndrome-associated FAM58A mutations do not produce an interaction phenotype with CDK10. Hence, regardless of whether these mutated mRNAs undergo nonsense-mediated decay (as suggested from the decreased cyclin M mRNA levels in STAR cells, shown in Fig. 5B) or give rise to truncated cyclin M proteins, females affected by the STAR syndrome must exhibit compromised CDK10/cyclin M kinase activity at least in some tissues and during specific developmental stages.We show that ETS2, a known interactor of CDK10, is a phosphorylation substrate of CDK10/cyclin M in vitro and that CDK10/cyclin M kinase activity positively controls ETS2 degradation by the proteasome. This control seems to be exerted through a very fine mechanism, as judged from the sensitivity of ETS2 levels to partially decreased CDK10 and cyclin

#  merging test and train data for processing

In [17]:
df_test["Class"] = -1

In [18]:
df = pd.concat([df_train, df_test])

In [19]:
df.tail()

        ID     Gene Variation  Class
5663  5663  SLC46A1     R113S     -1
5664  5664    FOXC1     L130F     -1
5665  5665      GSS     R267W     -1
5666  5666     CTSK      G79E     -1
5667  5667   DFNB59      T54I     -1

In [20]:
df.shape

(8989, 4)

In [21]:
df_text = pd.concat([df_train_text, df_test_text])

In [22]:
df_text.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [23]:
df_text.shape

(8989, 2)

In [24]:
df_text.tail()

        ID                                               Text
5663  5663  The realization in the late 1970s that RAS har...
5664  5664  Hemizygous deletions are common molecular abno...
5665  5665  All most R267W of has with to SMARTpool invest...
5666  5666  Abstract Blood samples from 125 unrelated fami...
5667  5667  Loss of DNA mismatch repair (MMR) in humans, m...

In [25]:
del(df_train)

In [26]:
del(df_test)

In [27]:
del(df_train_text)

In [28]:
del(df_test_text)

# chage categorical to numbers

In [29]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [30]:
le.fit(df.Gene)

LabelEncoder()

In [31]:
le.transform(df.Gene)

array([447, 216, 216, ..., 576, 314, 344])

In [32]:
df['Gene'] = le.transform(df.Gene)

In [33]:
df.head()

   ID  Gene             Variation  Class
0   0   447  Truncating Mutations      1
1   1   216                 W802*      2
2   2   216                 Q249E      2
3   3   216                 N454D      3
4   4   216                 L399V      4

In [34]:
df.tail()

        ID  Gene Variation  Class
5663  5663  1262     R113S     -1
5664  5664   486     L130F     -1
5665  5665   576     R267W     -1
5666  5666   314      G79E     -1
5667  5667   344      T54I     -1

In [35]:
le.fit(df.Variation)

LabelEncoder()

In [36]:
df['Variation'] = le.transform(df.Variation)

In [37]:
df.head()

   ID  Gene  Variation  Class
0   0   447       7654      1
1   1   216       8255      2
2   2   216       5191      2
3   3   216       4572      3
4   4   216       3958      4

# use CountVectorizer to simply convert text to vector

In [38]:
from sklearn.feature_extraction.text import CountVectorizer

In [39]:
vectorizer = CountVectorizer()

In [40]:
vectorizer.fit(df_text.Text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [41]:
df_text.head()

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [42]:
X = vectorizer.transform(df_text.Text)

In [43]:
X_array = X.toarray()

In [44]:
df_text_array = pd.DataFrame(X_array)

In [45]:
df_text_array.head()

,0,1,2,3,4,5,6,7,8,9,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
0,0,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# TfidVectorizer to extract meanings

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
import sys

In [47]:
tfidf = TfidfVectorizer(stop_words = 'english', max_features = 100)
tfidf.fit(df_text.Text)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=100, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [48]:
x = tfidf.transform(df_text.Text)

In [49]:
x = x.toarray()

In [50]:
df_tfid = pd.DataFrame(x)

In [51]:
df_tfid.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.130351,0.028371,0.006997,0.014239,0.056427,0.056008,0.007450,0.077699,0.000000,0.0,...,0.057801,0.008138,0.029388,0.000000,0.027645,0.034869,0.089366,0.000000,0.021605,0.102527
1,0.106891,0.026002,0.032064,0.019575,0.019393,0.057747,0.020482,0.090633,0.007178,0.0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
2,0.106891,0.026002,0.032064,0.019575,0.019393,0.057747,0.020482,0.090633,0.007178,0.0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
3,0.158210,0.031155,0.053786,0.031273,0.077455,0.084567,0.016361,0.116351,0.000000,0.0,...,0.047605,0.000000,0.000000,0.000000,0.121429,0.022974,0.098136,0.084334,0.126536,0.040941
4,0.062059,0.004935,0.019475,0.004954,0.039263,0.014614,0.082937,0.172026,0.000000,0.0,...,0.135741,0.000000,0.025561,0.010624,0.105797,0.038820,0.066967,0.013359,0.100224,0.000000

In [52]:
del(x)

In [53]:
del(X)

In [54]:
del(X_array)

In [55]:
del(df_text)

#  merge three dataframes into one

In [56]:
df = df.reset_index(drop=True)

In [57]:
df.tail()

        ID  Gene  Variation  Class
8984  5663  1262       5379     -1
8985  5664   486       3684     -1
8986  5665   576       5892     -1
8987  5666   314       2785     -1
8988  5667   344       7542     -1

In [58]:
df_text_array.tail()

,0,1,2,3,4,5,6,7,8,9,...,169415,169416,169417,169418,169419,169420,169421,169422,169423,169424
8984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8985,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8987,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
df_merge = pd.concat([df, df_text_array, df_tfid], axis=1)

In [60]:
df_merge.head()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
0,0,447,7654,1,0,14,0,0,0,0,...,0.057801,0.008138,0.029388,0.000000,0.027645,0.034869,0.089366,0.000000,0.021605,0.102527
1,1,216,8255,2,0,4,0,0,0,0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
2,2,216,5191,2,0,4,0,0,0,0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
3,3,216,4572,3,0,0,0,0,0,0,...,0.047605,0.000000,0.000000,0.000000,0.121429,0.022974,0.098136,0.084334,0.126536,0.040941
4,4,216,3958,4,0,3,0,0,0,0,...,0.135741,0.000000,0.025561,0.010624,0.105797,0.038820,0.066967,0.013359,0.100224,0.000000

In [61]:
del(df)

In [62]:
del(df_text_array)

In [63]:
del(df_tfid)

# split train and test again

In [64]:
train = df_merge[df_merge.Class >0]

In [65]:
test = df_merge[df_merge.Class == -1]

In [66]:
train.head()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
0,0,447,7654,1,0,14,0,0,0,0,...,0.057801,0.008138,0.029388,0.000000,0.027645,0.034869,0.089366,0.000000,0.021605,0.102527
1,1,216,8255,2,0,4,0,0,0,0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
2,2,216,5191,2,0,4,0,0,0,0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
3,3,216,4572,3,0,0,0,0,0,0,...,0.047605,0.000000,0.000000,0.000000,0.121429,0.022974,0.098136,0.084334,0.126536,0.040941
4,4,216,3958,4,0,3,0,0,0,0,...,0.135741,0.000000,0.025561,0.010624,0.105797,0.038820,0.066967,0.013359,0.100224,0.000000

In [67]:
train.tail()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
3316,3316,1155,960,4,0,0,0,0,0,0,...,0.069656,0.000000,0.000000,0.003345,0.090857,0.042784,0.129535,0.000000,0.066275,0.110279
3317,3317,1155,56,1,0,0,0,0,0,0,...,0.055855,0.000000,0.000000,0.000000,0.011449,0.034658,0.075919,0.000000,0.003977,0.138963
3318,3318,1155,2076,1,0,0,0,0,0,0,...,0.110564,0.000000,0.000000,0.000000,0.056405,0.000000,0.049092,0.019587,0.044083,0.000000
3319,3319,1155,6606,4,0,1,0,0,0,0,...,0.251028,0.008316,0.015016,0.007801,0.091810,0.014253,0.000000,0.000000,0.036797,0.009524
3320,3320,1155,3608,4,0,1,0,0,0,0,...,0.151879,0.005031,0.036339,0.004720,0.162371,0.047428,0.046752,0.000000,0.120221,0.011525

In [68]:
test.head()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
3321,0,28,6404,-1,0,3,0,0,0,0,...,0.039927,0.026982,0.073081,0.092814,0.045830,0.042391,0.053184,0.005305,0.035818,0.005151
3322,1,852,5005,-1,0,1,0,0,0,0,...,0.000000,0.025350,0.228865,0.000000,0.021529,0.119480,0.203433,0.000000,0.022434,0.000000
3323,2,950,3915,-1,0,0,0,0,0,0,...,0.045918,0.051719,0.123099,0.141145,0.027951,0.040291,0.051632,0.072101,0.012483,0.000000
3324,3,657,85,-1,0,1,0,0,0,0,...,0.040150,0.125616,0.149700,0.042424,0.102413,0.034447,0.072156,0.005927,0.026680,0.000000
3325,4,1376,2780,-1,0,9,0,0,0,0,...,0.010303,0.088971,0.094295,0.076209,0.039422,0.056354,0.084960,0.063885,0.037657,0.004431

In [69]:
test.tail()

,ID,Gene,Variation,Class,0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
8984,5663,1262,5379,-1,0,0,0,0,0,0,...,0.087895,0.018333,0.003310,0.000000,0.034253,0.015710,0.086724,0.012976,0.012979,0.004199
8985,5664,486,3684,-1,1,0,0,0,0,0,...,0.053995,0.060816,0.076868,0.011411,0.072308,0.020846,0.010275,0.028696,0.075349,0.000000
8986,5665,576,5892,-1,0,0,0,0,0,0,...,0.027157,0.203919,0.266949,0.239128,0.000000,0.008737,0.000000,0.000000,0.000000,0.000000
8987,5666,314,2785,-1,0,2,0,0,0,0,...,0.037721,0.026554,0.091099,0.144483,0.049612,0.059163,0.134585,0.006265,0.004700,0.006083
8988,5667,344,7542,-1,0,0,0,0,0,0,...,0.156993,0.023577,0.000000,0.011059,0.110125,0.090918,0.159329,0.431086,0.114757,0.040505

In [70]:
del(df_merge)

#  split the train dataset for internal evaluation

In [71]:
from sklearn.cross_validation import train_test_split
from sklearn import metrics

/Users/takuyasakaguchi/anaconda/envs/python36/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [72]:
y_train = train.pop('Class')

In [73]:
x_train = train

In [74]:
y_test = test.pop('Class')

In [75]:
x_test = test

In [76]:
x_train.head()

,ID,Gene,Variation,0,1,2,3,4,5,6,...,90,91,92,93,94,95,96,97,98,99
0,0,447,7654,0,14,0,0,0,0,0,...,0.057801,0.008138,0.029388,0.000000,0.027645,0.034869,0.089366,0.000000,0.021605,0.102527
1,1,216,8255,0,4,0,0,0,0,0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
2,2,216,5191,0,4,0,0,0,0,0,...,0.052975,0.007458,0.127938,0.020991,0.057007,0.031957,0.151208,0.000000,0.046203,0.051254
3,3,216,4572,0,0,0,0,0,0,0,...,0.047605,0.000000,0.000000,0.000000,0.121429,0.022974,0.098136,0.084334,0.126536,0.040941
4,4,216,3958,0,3,0,0,0,0,0,...,0.135741,0.000000,0.025561,0.010624,0.105797,0.038820,0.066967,0.013359,0.100224,0.000000

In [77]:
Xtrain, Xtest, ytrain, ytest = train_test_split(x_train, y_train, random_state=0)

#  Use Random Forest for first quick prediction

In [78]:
from sklearn.ensemble import RandomForestClassifier

Xtrain, Xtest, ytrain, ytest = train_test_split(x_train,y_train,random_state=0)
clf = RandomForestClassifier(n_estimators=100, random_state=0)
clf.fit(Xtrain, ytrain)
ypred = clf.predict(Xtest)
metrics.accuracy_score(ypred, ytest)

0.6534296028880866

##  the score was 0.6534296028880866

## 0.638 was the internal evaluatin score without tdif.

#  Make a prediction to submit to Kaggle

In [79]:
prediction = clf.predict_proba(x_test)

In [80]:
df_prediction  = pd.DataFrame(prediction)

In [81]:
df_prediction.head()

      0     1     2     3     4     5     6     7     8
0  0.04  0.21  0.01  0.04  0.00  0.02  0.67  0.00  0.01
1  0.19  0.10  0.00  0.35  0.00  0.03  0.33  0.00  0.00
2  0.12  0.20  0.01  0.06  0.03  0.04  0.53  0.01  0.00
3  0.16  0.15  0.03  0.10  0.03  0.01  0.51  0.00  0.01
4  0.17  0.09  0.02  0.25  0.02  0.03  0.42  0.00  0.00

In [82]:
df_submission.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   0       0       0       0       0       0       1       0       0       0
1   1       0       1       0       0       0       0       0       0       0
2   2       0       0       0       0       0       1       0       0       0
3   3       0       0       0       0       0       0       0       1       0
4   4       0       0       0       1       0       0       0       0       0

In [83]:
df_submission.columns.values

array(['ID', 'class1', 'class2', 'class3', 'class4', 'class5', 'class6',
       'class7', 'class8', 'class9'], dtype=object)

In [84]:
class_name = ['class1', 'class2', 'class3', 'class4', 'class5', 'class6',
       'class7', 'class8', 'class9']

In [85]:
df_prediction.columns = class_name

In [86]:
df_prediction.head()

   class1  class2  class3  class4  class5  class6  class7  class8  class9
0    0.04    0.21    0.01    0.04    0.00    0.02    0.67    0.00    0.01
1    0.19    0.10    0.00    0.35    0.00    0.03    0.33    0.00    0.00
2    0.12    0.20    0.01    0.06    0.03    0.04    0.53    0.01    0.00
3    0.16    0.15    0.03    0.10    0.03    0.01    0.51    0.00    0.01
4    0.17    0.09    0.02    0.25    0.02    0.03    0.42    0.00    0.00

In [87]:
df_prediction.to_csv('predict1.csv')

In [88]:
df_prediction2 = pd.read_csv('predict1.csv')

In [89]:
df_prediction2.head()

,Unnamed: 0,class1,class2,class3,class4,class5,class6,class7,class8,class9
0,0,0.04,0.21,0.01,0.04,0.00,0.02,0.67,0.00,0.01
1,1,0.19,0.10,0.00,0.35,0.00,0.03,0.33,0.00,0.00
2,2,0.12,0.20,0.01,0.06,0.03,0.04,0.53,0.01,0.00
3,3,0.16,0.15,0.03,0.10,0.03,0.01,0.51,0.00,0.01
4,4,0.17,0.09,0.02,0.25,0.02,0.03,0.42,0.00,0.00

In [90]:
df_prediction2.columns

Index(['Unnamed: 0', 'class1', 'class2', 'class3', 'class4', 'class5',
       'class6', 'class7', 'class8', 'class9'],
      dtype='object')

In [91]:
submission_columns = ['ID', 'class1', 'class2', 'class3', 'class4', 'class5', 'class6',
       'class7', 'class8', 'class9']

In [92]:
df_prediction2.columns = submission_columns

In [93]:
df_prediction2.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   0    0.04    0.21    0.01    0.04    0.00    0.02    0.67    0.00    0.01
1   1    0.19    0.10    0.00    0.35    0.00    0.03    0.33    0.00    0.00
2   2    0.12    0.20    0.01    0.06    0.03    0.04    0.53    0.01    0.00
3   3    0.16    0.15    0.03    0.10    0.03    0.01    0.51    0.00    0.01
4   4    0.17    0.09    0.02    0.25    0.02    0.03    0.42    0.00    0.00

In [94]:
df_prediction2.to_csv('first_submission_rf2.csv', index = False)

## Kaggle submission this file.